<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>965114235515-j48ljs1gs9e37fcofab1vus5utulm6dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965114235515-j48ljs1gs9e37fcofab1vus5utulm6dp</string>
	<key>API_KEY</key>
	<string>AIzaSyAA1OV5kLVpnVCV-0iGW7igH3sqQcoYFv8</string>
	<key>GCM_SENDER_ID</key>
	<string>965114235515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ismaestro.flutterexampleapp</string>
	<key>PROJECT_ID</key>
	<string>ismaestro-angularexampleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ismaestro-angularexampleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:965114235515:ios:2e199be51da4feba</string>
	<key>DATABASE_URL</key>
	<string>https://ismaestro-angularexampleapp.firebaseio.com</string>
</dict>
</plist>
